In [1]:
#fas-정재환
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import numpy as np
import csv
import json
import seaborn as sns
%matplotlib inline

In [2]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv("NHIS_OPEN_GJ_2017_3.csv", encoding='cp949', nrows=50000)
df

,Unnamed: 0,번호,성별,연령,신장,체중,허리둘레,수축기혈압,이완기혈압,식전혈당,총콜레스테롤,흡연상태,음주여부
0,0,1,1,40,170,75,90.0,120.0,80.0,99.0,193.0,1.0,1.0
1,1,2,1,35,180,80,89.0,130.0,82.0,106.0,228.0,3.0,0.0
2,2,3,1,45,165,75,91.0,120.0,70.0,98.0,136.0,1.0,0.0
3,3,4,1,55,175,80,91.0,145.0,87.0,95.0,201.0,1.0,0.0
4,4,5,1,55,165,60,80.0,138.0,82.0,101.0,199.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,50055,2,50,160,80,93.0,142.0,94.0,99.0,279.0,1.0,0.0
49996,49996,50056,1,50,165,60,84.5,130.0,90.0,98.0,226.0,2.0,1.0
49997,49997,50057,1,30,175,65,74.0,128.0,81.0,97.0,204.0,3.0,1.0
49998,49998,50058,1,30,165,55,70.0,108.0,69.0,81.0,173.0,1.0,1.0
49999,49999,50059,1,40,170,100,98.2,138.0,88.0,99.0,197.0,1.0,0.0

In [4]:
# StandardScaler()를 사용해 평균0, 분산1로 표준화 처리
x_원본 = df[['체중']]
scaler = StandardScaler()
x_표준화 = scaler.fit_transform(x_원본)
x_표준화

array([[ 0.93948073],
       [ 1.33877381],
       [ 0.93948073],
       ...,
       [ 0.14089456],
       [-0.65769161],
       [ 2.93594615]])

In [6]:
# 표준화된 데이터의 최대값과 최소값 확인
print('표준화 데이터 최대값: ' + str(x_표준화.max()))
print('표준화 데이터 최소값: ' + str(x_표준화.min()))
print('표준화 데이터 평균값: ' + str(x_표준화.mean()))

표준화 데이터 최대값: 6.130290820081769
표준화 데이터 최소값: -2.6541570314454987
표준화 데이터 평균값: -5.890399279451231e-17

In [7]:
# inverse_transform()을 사용해 표준화된 데이터를 다시 원래대로 복원
x_복원 = scaler.inverse_transform(x_표준화)
x_복원

array([[ 75.],
       [ 80.],
       [ 75.],
       ...,
       [ 65.],
       [ 55.],
       [100.]])

In [8]:
# 실제로 제대로 복원이 되었는지 원본값과 최댓값, 최솟값, 평균값을 비교해보자
x_원본 = x_원본['체중']
print('원본 데이터 최소값: ' + str(x_원본.min()))
print('복원 데이터 최소값: ' + str(x_복원.min()))
print('원본 데이터 최대값: ' + str(x_원본.max()))
print('복원 데이터 최대값: ' + str(x_복원.max()))
print('원본 데이터 평균값: ' + str(x_원본.mean()))
print('복원 데이터 평균값: ' + str(x_복원.mean()))

원본 데이터 최소값: 30
복원 데이터 최소값: 30.0
원본 데이터 최대값: 140
복원 데이터 최대값: 140.0
원본 데이터 평균값: 63.2357
복원 데이터 평균값: 63.2357

In [9]:
# 표준값이 실제 원본값으로 복원되었음을 확인하였다